body,
html {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: white;
}



section {
    background-color: purple;
    background-size: cover;
}



.link {
    color: rgba(0, 0, 0, .87);
    text-decoration: none;

}

.link:hover {
    text-decoration: underline;
}


.inlineblock {
    display: inline-block;
    margin: 20px;
}

footer {
    background-color: #f2f2f2;
    color: #70757a;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100px
}

.country {
    padding: 15px;
}

#top {
    position: relative;
    height: 48px;
    overflow: hidden;
    width: auto;
    padding: 10px;
}

#box {
    width: 280px;
    position: absolute;
    left: 80%;
}




.micro {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin-right: 3%;
    margin-top: 0.0%;
}

.magnify_glass {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 1%;
    margin-top: 1%;
}

#mid {
    position: relative;
    height: 40%;
}

.googlehome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.img_span {
    font-size: 30px;
    display: inline-block;
    color: #4285f4;
    font-family: roboto;
    position: absolute;
    left: 1100px;
    top: 90px;
}


.textbox_contain {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.textbox {
    display: inline-block;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 20px;
    width: 70%;

}

.outer {}

.buttons {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    height: 36px;
    width: auto;

}

.buttons:hover {
    border: 1px solid black;
}

.adv_buttons {
    background-color: #4d90fe;
    color: white;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    height: 36px;
    width: auto;
}

.button_box {
    position: relative;
    object-position: center;
    text-align: center;
}